<!DOCTYPE html>
<html style="height: 100%;">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body style="height: 100%;">

        <table class="body" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; height: 100%; width: 100%; background: #FFF; padding: 0;" bgcolor="#FFF">
            <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                <td class="center" align="center" valign="top" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; padding: 40px 0px;">
                    <center style="width: 100%; min-width: 620px;">
                        <table style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:inherit;width:620px;background:#FFF;margin:0 auto;padding:0;">
							<tr>
								<img id="header-image" src="cid:header-image" />
							</tr>
                            <tr>
                                <td style="padding-top: 40px;">
                                    <h1 style="text-align: center; font-size: 20pt;">{{greeting}}</h1>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top: 40px;">
                                    <p style="padding: 0px 20px; font-size: 14pt;line-height: 30px;">
                                        &nbsp;&nbsp;&nbsp;{{content1}} <a href="{{applicationLink}}" style="color:#AE2760;text-decoration: none;">{{applicationName}}</a>.
                                        {{content2}} <a href="mailto:{{senderEmailAddress}}" style="color:#AE2760; text-decoration: none;">{{senderEmailAddress}}</a>.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top: 40px;">
                                    <p style="padding: 0px 20px;text-align: center;">
                                        <a href="{{buttonLink}}" style="width:200px; display:block; color:#FFF;text-decoration:none;font-family:'Open Sans', Helvetica, Arial, sans-serif;font-weight:600;font-size:14pt;background:#AE2760;padding:9px 35px 10px 35px;text-align:center;">
                                            {{buttonText}}
                                        </a>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </center>
                </td>
            </tr>
        </table>

    </body>
</html>
