<!DOCTYPE html>
<html style="height: 100%;">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body style="height: 100%;padding-top: 0px;">
        <table class="body" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; height: 100%; width: 100%; background: #FFF; padding: 0;" bgcolor="#FFF">
            <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                <td class="center" align="center" valign="top" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; padding: 40px 0px;">
                    <center style="width: 100%; min-width: 620px;">
                        <table style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:inherit;width:620px;background:#FFF;margin:0 auto;padding:0;">
							<tr>
								<img id="header-image" src="cid:header-image" />
							</tr>
                            <tr>
                                <td style="height: 40px;padding: 40px 20px 0px 20px;">
                                    <span style="font-weight: 700;">{{ fullNameLabel }}:</span>&nbsp;
									<span>{{ fullName }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="height: 40px;padding: 0px 20px;">
                                    <span style="font-weight: 700;">{{ emailLabel }}:</span>&nbsp;
									<span>{{ email }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="height: 40px;padding: 0px 20px;">
                                    <span style="font-weight: 700;">{{ hasAgreedToTermsLabel }}:</span>&nbsp;
									<span>{{ hasAgreedToTerms }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="height: 40px;padding: 0px 20px;">
                                    <span style="font-weight: 700;">{{ messageLabel }}:</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 0px 20px;vertical-align: initial;">
                                    <p>
										{{ message }}
									</p>
                                </td>
                            </tr>
                        </table>
                    </center>
                </td>
            </tr>
        </table>
    </body>
</html>
